In [ ]:
#What will be the output of the following code? x = -15 , print(abs(x) + pow(3, 2))
x=-15
print(abs(x)+pow(3,2))

24

In [ ]:
#Convert the number 45 to its binary and hexadecimal representations using Python functions
number=45
binary_number=bin(number)
print(binary_number)

hexadecimal_number=hex(number)
print(hexadecimal_number)

0b101101
0x2d

In [2]:
#What will be the output of the following? print(type(bin(25)))
print(type(bin(25)))

<class 'str'>

In [3]:
#What will be the output of the following code? 
num = 5.6789 
print(round(num, 1))

5.7

In [6]:
#Convert the string "20.75" into a float and add 5 to it.
number='20.75'
Converted_number= float(number)+5
print(Converted_number)
type(Converted_number)

25.75

float

In [7]:
#What is the difference between float(10) and int(10.5) in terms of output? 
number=float(10)
number1=int(10.5)
print(number,number1)

10.0 10

In [23]:
#Given s = " Python Programming ", write a line of code to remove extra spaces and convert it to lowercase.
s = " Python Programming "
updated_s=s.strip()
print(updated_s)

Python Programming

In [8]:
#What will be the output of the following? 
text = "hello world" 
print(text.replace("world", "Python"))

hello Python

In [9]:
#Write a Python expression to split "apple,banana,grapes" into a list of individual fruits.
fruits=['apple','banana','grapes']
for fruit in fruits:
    print (fruit)

apple
banana
grapes

In [ ]:
#Given numbers = [3, 1, 4, 1, 5, 9], write a line of code to count how many times 1 appears in the list.
numbers=[3,1,4,1,5,9]
numbers.count(1)

2

In [15]:
#What will be the output of the following? fruits = ['apple', 'banana', 'cherry'] fruits.append('mango') fruits.remove('banana') print(fruits) 
fruits = ['apple', 'banana', 'cherry'] 
fruits.append('mango') 
fruits.remove('banana') 
print(fruits)

['apple', 'cherry', 'mango']

In [2]:
#Write a Python expression to sort marks = [78, 56, 89, 45] in ascending order.
marks=[78, 56, 89, 45]
sorted_marks=marks.sort()
print(marks)

[45, 56, 78, 89]